[2021-08-24 17:29] arkadiuszwojcik opened #1 "Broken logic after recent changes"
Didn't test that but from code analysis looks like there is bug in file: LessCompiler.cs

[code]

was changed to:

[code]

which translates to:

[code]

so line:

`if (options.IECompat)`

should also be commented out

Btw: Thanks for your effort to port this project to VS2022

[2021-09-03 17:15] failwyn commented on #1
Thanks for that! I'll get it addressed and upload a new version this weekend.

[2021-09-03 17:26] #1 closed

[2021-09-08 23:30] EddieGreen opened #2 "Missing Newtonsoft.Json.dll from VSIX"
### Installed product versions
[code]
### Description
VSIX does not install Json library.

Using Task Runner, produces the following error:

[code]

Adding this library directly to vsix install path resolves error - [download](https://www.nuget.org/packages/Newtonsoft.Json/9.0.1)

[2021-09-10 18:44] failwyn commented on #2
Do you know if this works with the 2019 version of WebCompiler?

[2021-09-11 02:47] EddieGreen commented on #2
### 2019 Installation
Microsoft Visual Studio Enterprise 2019
Version 16.11.1
VisualStudio.16.Release/16.11.1+31613.86
Microsoft .NET Framework
Version 4.8.04084

Web Compiler   1.12.394
Compiler for LESS, Sass and CoffeeScript files

Works fine on this, always has.

[2021-09-11 15:51] core1915 opened #3 ""Enable compile on build..." not working"
### Installed product versions
Microsoft Visual Studio Community 2022 Preview (64-bit)
Version 17.0.0 Preview 3.1

Web Compiler   1.13.2

### Description
Right click on "compilerconfig.json" -> Web compiler -> Enable compile on build... asks me to install NuGet package, clicking "Yes" and than got the error below. On VS2019 this feature works.

![image](https://user-images.githubusercontent.com/90

[2021-09-13 13:20] failwyn commented on #2
Would you mind helping me out with a sample project or a walk though of how to set this up?

[2021-09-13 13:22] EddieGreen commented on #2
Sure. What do you want me to do?

[2021-09-13 13:40] failwyn commented on #2
If you have a simple project that you can upload and provide a link to, I can use that; otherwise just a walk through of what I have to add to a project to get WebCompiler set up in Task Runner would be great.

[2021-09-13 13:50] failwyn commented on #2
Scratch that, I got it set up, restarting Visual Studio fixed the Task Runner Explorer; I'll get this fixed and let you know when I upload a new version.

[2021-09-13 15:47] ahwm commented on #3
I ran into this as well. I "fixed" it by just manually installing the latest version of the package - https://www.nuget.org/packages/BuildWebCompiler/ (currently 1.12.405)

`PM> Install-Package BuildWebCompiler` did the trick

[2021-09-13 16:34] failwyn commented on #2
I just uploaded a new version that fixes this issue; having trouble with OAuth token, so the commit hasn't been pushed yet. thanks for the report.

[2021-09-13 16:34] #2 closed

[2021-09-13 18:20] failwyn commented on #3
I found the cause of this issue, I'll try to publish a new version by tomorrow afternoon.

[2021-09-13 18:38] failwyn commented on #3
uploaded a new version to the marketplace, I'm still having issues with OAUTH, will push the code changes as soon as they are resolved

[2021-09-13 18:38] #3 closed

[2021-09-13 19:07] EddieGreen commented on #2
Nicely! Thanks

[2021-09-19 16:12] moehoward opened #4 "Custom properties (--*): CSS variables"
### Installed product versions
- Visual Studio: [2022 Community]
- This extension: [example 1.13.4]

### Description
Compilation fails when a custom CSS properties uses a variable.

### Steps to recreate
1. Create a SCSS file.
2. Create a style within a SCSS file that uses a custom CSS property with a variable.

### Current behavior
The "variable name" rather than the "value" gets compiled into th

[2021-09-20 10:33] failwyn commented on #4
Do you know if this worked on the 2019 version?

also, purely out of curiosity, is there an advantage to using custom properties instead of sass properties?

[2021-09-20 12:44] moehoward commented on #4
It worked perfectly well in VS 2019 (for years).
Hence, I noticed the error when I upgraded.

Go to https://jsonformatter.org/scss-to-css and type:

$var-name: green;
p {
    --my-custom-color: $var-name;
}

See the result to the right.
See the result in WebCompiler2019 (a.k.a. WebCompiler)
See the result in WebCompiler2022.

More good info here:
https://developer.mozilla.org/en-US/docs/Web/CSS/Us

[2021-09-20 13:01] failwyn commented on #4
I'll take a look to see if I can identify what changed during the upgrade, it makes it easier to track down the issue knowing if it worked in 2019.

I was wondering about the mixing of variable types, the custom properties with the sass variables; I've haven't used custom properties and was just wondering if I was missing something with them.

[2021-09-20 13:26] failwyn commented on #4
It looks like this was caused by a change to node-sass

https://github.com/sass/node-sass/issues/2627
https://github.com/sass/libsass/issues/2621
https://sass-lang.com/documentation/style-rules/declarations#custom-properties

Can you try the following and let me know if it works?

$var-name: green;
p {
--my-custom-color: #{$var-name};
}

[2021-09-20 14:37] moehoward commented on #4
Pingo that was it!
But dang, they moved my cheese!

So instead of using (which worked in Web Compiler 2019):
$var-name: green;
p {
    --my-custom-color: $var-name;
}

I now have to use (in Web Compiler 2022):
$var-name: green;
p {
    --my-custom-color: #{$var-name};
}

Well, it's obvious I suck at keeping current with Sass.
https://sass-lang.com/documentation/interpolation

Thanks a Million!

[2021-09-20 14:55] failwyn commented on #4
I hate when they move the cheese!

// I'm not gonna lie, I haven't been keeping current with it either, I should go peruse the documentation to see what I'm missing out on

[2021-09-20 14:55] #4 closed

[2021-10-17 17:36] reneduesmann opened #5 "Automatic compiling for javascript files"
### Installed product versions
- Visual Studio: 19, 22 Preview
- This extension: 1.13.4

### Description
Include auto compile for .js files.

### Current behavior
At the moment, i must explicity say "Re-compile file" or save the compilerconfig.json file, to compile javascript files.

### Expected behavior
When i save a javascript file, that the file will be compiled.

[2021-10-17 17:46] reneduesmann opened #6 "Javascript compile output does not work"
### Installed product versions
- Visual Studio: 19, 22 Preview
- This extension: 1.13.4

### Description
Output of the compiled javascript file, that contains an exported function, does not work.

### Steps to recreate
1. Create a project (doesn't matter, which type)
2. Add a javascript file with this content
`export function testFunction() { }`
3. Compile the file with this extension
4. Execute t

[2021-10-20 11:16] memepuppy commented on #5
The problem is in SourceFileCreationListener.cs, add [ContentType("TypeScript")] and it will work.
![image](https://user-images.githubusercontent.com/56789821/138083023-4d5a1ae8-94a8-486a-bb9e-37082022aee1.png)

[2021-11-08 18:29] xilefius opened #7 "The --ie-compat option is deprecated, as it has no effect on compilation."
### Installed product versions
- Visual Studio: 2022 Professional
- This extension: 1.13.4

### Description
Just installed VS 2022 (released 2 hours ago) on a fresh windows installation and Installed the WebCompiler 2022 extension.
I get an error during compilation:
SomeFile.less : WebCompiler error 0: The --ie-compat option is deprecated, as it has no effect on compilation.

I know that you wrote

[2021-11-08 18:42] xilefius commented on #7
Sorry, this actualy is not this extension (I still have the same error after disabling the extension)
The project also has "BuildWebCompiler" (last updated 2019) and "dotless" nuget packages installed - I assume the first one is the error source in this case. But maybe you still have some input for me, as I personally do not manage the frontend build stuff normally. Will have to ask a colleque at

[2021-11-08 18:58] xilefius commented on #7
OK, solved It I think - I replaced the BuildWebCompiler nuget package with https://www.nuget.org/packages/BuildWebCompiler-none-elevated/ which was just released 3 months ago.

I will close the issue and leave it, maybe someone else has the same issue and finds this :-)

[2021-11-08 18:58] #7 closed

[2021-11-10 11:46] XzaR90 opened #8 "Move to Dart-sass from Node-sass"
### Installed product versions
- Visual Studio: 2022

### Description
Node-sass is deprecated, we should use Dart-sass
https://itnext.io/the-css-preprocessor-dilemma-node-sass-or-dart-sass-32a0a096572

### Current behavior
A deprecated SASS compiler is used.

### Expected behavior
None deprecated version of SASS compiler should be used.

[2021-11-10 12:19] Fireblade954 commented on #6
Any news on the new version?

[2021-11-10 12:35] failwyn commented on #6
Since Bundler & Minifier handled this use case, I'm gonna keep it on the back burner for now; if Bundler & Minifier doesn't solve your issue, let me know, and I can take another look.

[2021-11-10 23:02] james-d-elliott commented on #8
Related: https://github.com/madskristensen/WebCompiler/pull/479

[2021-11-11 19:32] XzaR90 commented on #8
Maybe I could fix it, i will see tomorrow.

[2021-11-11 21:33] AlanWaiss opened #9 "Different/incorrect output when extending a class"
### Installed product versions
- Visual Studio: 2020 Enterprise
- This extension: 1.13.4

### Description
Incorrect/different SCSS output

### Steps to recreate
Using this scss:
[code]

### Current behavior
It's producing output:
[code]

### Expected behavior
The :focus pseudo class should be after the attribute specifier. It was this way in the VS2019 extension.
[code]

This could be related to t

[2021-11-12 11:53] XzaR90 commented on #9
Maybe you could try #10 #8 and see if it works?

[2021-11-12 14:04] failwyn commented on #9
@AlanWaiss - Do you know if this works in the Visual Studio 2019 version of WebCompiler?

[2021-11-12 14:07] failwyn commented on #8
@XzaR90 Thanks for the pull request, I'm away for the weekend, but I'll take a look at this as soon as I get back!

[2021-11-12 16:34] AlanWaiss commented on #9
It does work in the 2019 version. I actually found this when I was testing VS2022 to see if it works with my existing solution. I noticed a difference when I recompiled my scss.

[2021-11-14 13:49] alex-jitbit commented on #6
Having the same problem. Worked with Mads in 2019, stopped working in 2022

[2021-11-15 10:56] thepra opened #11 "$variables are no more replaced where they're used"
### Installed product versions
- Visual Studio: 2022
- This extension: 1.12.405

### Description
The dollar variables are no more replaced anywhere in a .scss file, breaking up everything in the pipeline.
(I'm using the NuGet package, at compilation time the WebCompiler is triggered.)

### Steps to recreate
1. Setup the code like this in `variables.scss`:
[code]
2. Compile with this setup, where m

[2021-11-15 14:48] failwyn commented on #11
This looks like a duplicate of #4, can you confirm that this fixed your issue.

-- Comment copied from #4 --
It looks like this was caused by a change to node-sass

sass/node-sass#2627
sass/libsass#2621
https://sass-lang.com/documentation/style-rules/declarations#custom-properties

Can you try the following and let me know if it works?

$var-name: green;
p {
--my-custom-color: #{$var-name};
}

[2021-11-15 16:04] #11 closed

[2021-11-15 16:10] XzaR90 commented on #8
I see, yes the quite-deps would be required for backward compatibility. Yes probably a preview version would be nice to test it out. I am going to migrate to bootstrap 5 so I could try it out as well.

[2021-11-16 14:22] XzaR90 commented on #8
Don't forget to update the changelog.

[2021-11-16 15:09] failwyn commented on #8
I'm gonna update that and remove the Preview flag as soon as we see if the move to Dart Sass is generally accepted.

[2021-11-16 16:21] TristanPct opened #12 "SASS Variable replacement ignored for CSS 4 variables"
### Installed product versions
- Visual Studio: 2022
- This extension: 1.14.0

### Description
I have SASS file with variables injected as CSS 4 variables values, and they're not replaced by the compilation.

### Source file
[code]

### Current behavior
Generated CSS from this extension:

[code]

### Expected behavior
Generated CSS from the original extension (VS 2019):

[code]

[2021-11-16 23:59] failwyn commented on #12
This is no longer proper SASS syntax.

Duplicate of #4

[2021-11-16 23:59] #12 closed

[2021-11-18 09:29] richs99 opened #13 "css variables in scss files not compiling map-get function"
### Installed product versions
- Visual Studio: Community 22
- This extension: [example 1.14.0]

### Description
map-get commands in scss files are not being replaced with values for css variables.

### Steps to recreate
1. put in scss file:

#test {
  --mainBackground: map-get($colors, 'red');
  background: map-get($colors, 'red');
}

2. Compile.

### Current behavior
When compiled, the backgroun

[2021-11-18 11:28] failwyn commented on #13
This is not valid SASS syntax, see #4 for proper syntax.

Duplicate of #4, #11, and #12

[2021-11-18 11:28] #13 closed

[2021-11-24 16:55] #8 closed

[2021-11-26 13:25] donkerrigan opened #14 "Compiled SASS Stylesheet References SASS Variables in CSS"
### Installed product versions
- Visual Studio: 2022 (17.0.1)
- This extension: 1.14.1

### Description
SASS compilation is including references to SASS variables in css output when using mixins that assign css variables

### Steps to recreate
1. Create a SASS stylesheet that references a mixin from another file
    - Note the mixin takes in multiple parameters:
[code]
    - Referencing style:
[co

[2021-11-26 15:42] failwyn commented on #14
This is not valid SASS syntax.

Duplicated of #4, #11, #12, and #13

[2021-11-28 18:34] ElStupid opened #15 "Babel errors on compiling (minifying) js files"
### Installed product versions
- Visual Studio: 2022 Community Edition
- This extension: 1.14.1
- Windows 11

### Description
Babel errors on compiling (minifying) js files. I have a VS2019 installation on the same machine, which works just fine (with Mads' extension)

### Steps to recreate
1. any.js
2. set output in compilerconfig.json to any.min.js
    {
        "outputFile": "js/any.min.js",

[2021-11-28 18:51] ElStupid commented on #15
PS: I have BundlerMinifier 2022+ installed also

[2021-11-29 11:30] failwyn commented on #15
Would you mind using Bunder & Minifier to handle your JavaScript files for the time being? I'm going to look into this issue, but unless it's a relatively simple fix, I'm leaning towards not supporting JavaScript minification since Bundler & Minifier was designed for that specific use case and WebCompiler was more for transformation of styles to css.

[2021-11-29 18:20] donkerrigan commented on #14
Ah, that'll do it. My apologies, haven't kept up with changes made in Sass. Threw me off since it worked in the previous version. Thanks!

[2021-11-29 18:32] failwyn commented on #14
No worries, I'm just gonna keep this issue open so that it's more visible since a lot of people are having the same issue.

The version of Node Sass in the 2019 version was pretty old, which is why the syntax still worked.

[2021-11-29 19:28] ElStupid commented on #15
Thanks. I switched to BundlerMinifier for me, works neat too. I only use Webcompiler for less/scss to css now.
As it seems, WebCompiler does minify css by default (which it always did with js too)

I will try to figure out the problem. I can define any js file with a simple
`var test = true;`
in it, then try to compile and it gives me the error. As if it expects some kind of configuration in that

[2021-11-29 19:33] failwyn commented on #15
It probably has something to do with the updated libraries, the ones in 2019 were pretty old and I updated all of them when I build the 2022 version. I'm gonna try to look at this later in the week when I have some time.

[2021-11-30 07:21] ElStupid commented on #15
Alright thanks for looking into it. I have a work around, so no rush ;)

[2021-12-02 16:12] #15 closed

[2021-12-02 16:40] failwyn commented on #9
It looks like #8 addressed this issue.

[2021-12-02 16:40] #9 closed

[2021-12-03 19:04] failwyn commented on #6
This appears to be the expected output when using Babel to transform this Javascript; the extension Compiles/Transforms the file, then minifies the transformation if requested; if only minification is expected, I think Bundler & Minifier is the proper extension. If anyone disagrees, please let me know, I have no problem reopening the issue to take another look.

https://babeljs.io/docs/en/babel-pl

[2021-12-03 19:04] #6 closed

[2021-12-14 13:09] Pretagonist opened #16 "ArgumentNullException when trying to overwrite existing files"
### Installed product versions
- Visual Studio: 2022 (v17.0.2)
- This extension: 1.14.2

### Description
When i try to run the extension via Task Runner the process fails if the files to write already exists from a previous run. If I manually remove the files the extension works without a problem.

### Output in the taskrunner console

`

C:\dev\git\[projectname]\src\app\[appname]> c:\users\[usern

[2022-01-05 18:54] failwyn commented on #16
Would you mind sharing a sample project so that I can be sure our configurations are identical for debugging?

[2022-01-07 22:35] timmay7 opened #17 "Inability to set NodeSASS as the default"
I'm using Web Compiler 2022+ within VS 2022.

Currently, I can only set the option **"useNodeSass": true** within compilerconfig.json for each input/output pair. I would like to set this globally within compilerconfig.json.defaults, but it doesn't seem like it's supported. Or if it is, I must not be getting the syntax correct.

Could we add the NodeSass option within the defaults?

[2022-01-26 16:29] CoKorum opened #18 "Sass compiler ignores "indentWidth" default setting"
### Installed product versions
- Visual Studio: Community 2022
- This extension: version 1.14.2

### Description
Dart-Sass ignores the "indentWidth" default setting for sass. When it is set to 4, the output still put 2 spaces.

### Steps to recreate
1. Have "indentWidth": 4 in the "sass" node of the "compilerconfig.json.default" file
2. Compile a file using Dart-Sass (default engine it seems)

###

[2022-01-26 19:22] failwyn commented on #18
It doesn't look like Dart-Sass supports the indentWidth option.

[Dart Sass Command-Line Interface](https://sass-lang.com/documentation/cli/dart-sass)

[2022-02-01 06:02] initmaster opened #19 "Less didn't compile properly on operations with parentheses"
### Installed product versions
- Visual Studio: Visual Studio Enterprise 2022
- This extension: 1.14.2

### Description
Less didn't compile properly on operations with parentheses.

### Steps to recreate
1. Place an operation with parentheses in less file, for example : `width: (100px - 50px)/2;`
2. Compile file to css

### Current behavior
The result in css file is `width: 50px/2;`

### Expected

[2022-02-01 12:10] failwyn commented on #19
Try adding another set of parentheses: width: ((100px - 50px)/2);

[2022-02-01 16:19] bNobo opened #20 "Less compilation does not work anymore"
### Installed product versions
- Visual Studio: 2022 Enterprise version 17.0.5
- This extension: 1.14.2

### Description
Since I upgrade VS 2022 from 17.0.2 to 17.0.5, less compilation does not work anymore. I get a message:

![image](https://user-images.githubusercontent.com/11414291/152006652-4d826cf6-5f0b-4135-9b12-940f717c060b.png)

"This application cannot run on your PC"

### Steps to recrea

[2022-02-06 09:38] LemonStore opened #21 "Add existing item as Link -> Compiler cannot find @import file"
### Installed product versions
- Visual Studio: 2022
- This extension: 1.14.2

### Description
When I have a less files in another location and "add an item as link", Webcompiler cannot find file

### Steps to recreate
1.
(P1) ASP.NET Core 6.0 Project (Microsoft.NET.Sdk.Web)
(P2) Class Library (Microsoft.NET.Sdk.Razor)

2.
Create a "colors.less" file in P2
Create a "site.less" file in P1

3.
In P1

[2022-02-06 14:04] failwyn commented on #20
I’ll update and look at this tomorrow morning.

[2022-02-06 14:05] failwyn commented on #21
Do you know if this worked in the VS2019 version?

[2022-02-06 19:29] LemonStore commented on #21
Probably not, I uninstalled 2019 a while ago.

[2022-02-06 20:38] failwyn commented on #21
I’ll take a look to see what it would take to support linked files; are you good to work around this for now?

[2022-02-07 07:46] LemonStore commented on #21
Yes, I just make a copy of the file and sync it manually. Thanks for your fast reaction.

[2022-02-08 04:48] dlipdhunter opened #22 "Update BuildWebCompiler nuget package"
### Installed product versions
- Visual Studio: 2022 Professional
- This extension: 1.14.2

### Description
The extension is working great for development, but the nuget package that is used for enabling compilation on build systems outside of visual studio is not updated. Hence the build fails when any new features of autoprefixer are used.

### Steps to recreate
1. Set "autoPrefix": ">= 0.5%, la

[2022-02-08 10:15] Mrizzi-96 opened #23 "Cannot build project WebCompiler"
### Installed product versions
- Visual Studio: 2015 Community edition, 2017 Pro Edition, 2019 Pro Edition
- This extension: 1.14.2
### Description
I tried to open your project in VS 2019 but it did not work: it builds ok, but the extension doesn't install correctly.
Then I tried opening in VS 2015 but it also did not work, because the targeted SDK was too new.
I determined that the best version t

[2022-02-08 10:51] htodep opened #24 "Settings: Options > IncludePath not working anymore in VS 2022"
### Installed product versions
- Visual Studio: 2022
- This extension: 1.14.2

### Description
Can't compile stylesheets when i try to import a scss file from the node_modules folder. In VS 2017 the setting "includePath: 'node_modules'" did the trick. In VS 2022 not anymore

### Steps to recreate
1. Create base.scss in wwwroot > css >
2. import scss file from node_modules folder:
   example: @impo

[2022-02-08 14:08] robotzaintlikeus opened #25 "A scss file importing another scss file using @use is not recompiled when the imported file is changed."
### Installed product versions
- Visual Studio: 2022 Professional
- This extension: 1.14.2

### Description
Assuming there is main.scss file, which imports a _variables.scss file by using `@use.` Now the _variables.scss file is changed and saved. The expected behaviour would be that the main.scss file is recompiled, however that is not the case. This scenario works when we use `@import` instead of

[2022-02-09 12:45] failwyn commented on #24
Do you have a sample project that I can use to debug this? I have never used includePath and was never able to get kendo themes to compile with @progress (even with the 2019 WebCompiler), I replaced @progress in all my SCSS files to make it a relative path.

[2022-02-09 12:49] failwyn commented on #23
What do you mean by it builds fine but does not install correctly? This version can only be installed in Visual Studio 2022; if you are looking for 2015-2019 you want to fork the original repo by Mads.

[2022-02-09 12:51] failwyn commented on #20
I updated from 17.0.2 to 17.0.6 (17.0.5 wasn't an option), but I'm unable to reproduce this issue, is anyone else seeing this?

[2022-02-09 14:01] htodep commented on #24
No sorry, I don't have a sample project. I just want to compile scss files from the node modules folder. Now I just copied the folder and placed it inside the wwwroot. Not ideal because I cant update with npm.
It also worked with the 2019 compiler.

[2022-02-09 14:57] failwyn commented on #25
I have a few other issues to look at, but I will try my best to get a new release out by Monday.

[2022-02-09 15:00] failwyn commented on #24
Can you post your compilerconfig.json? How were you getting it to recognize @progress?

[2022-02-10 18:28] jansokoly commented on #20
I've started seeing the same today. I don't think it's linked to VS update, because it worked fine for 17.0.6 first and only stopped to work a couple days later for the same VS release.
Following https://github.com/madskristensen/WebCompiler/issues/390#issuecomment-475427735 helped fix this seemingly random error.

[2022-02-11 05:06] cawise opened #26 "One of my .scss files is not compiled on build"
### Installed product versions
- Visual Studio: 2022 Enterprise
- This extension: 1.14.2

### Description
One of my .scss files does not automatically recompile while the others do. My folder contains four .scss files:
- _variables.scss
- bootstrap.scss
- kendo.scss
- site.scss

bootstrap.css/bootstrap.min.css and and site.css/site.min.css are automatically generated, but kendo.css/kendo.min.css a

[2022-02-11 13:45] janissimsons opened #27 "Mixins don't work with @use rule"
### Installed product versions
- Visual Studio: 2022 (17.0.6) latest
- This extension: latest (1.14.2)

### Description
Replace this text with a short description

### Steps to recreate
1. Create partial base file: _base.scss and put a mixin in there:
[code]

Call the mixin from another scss file, let's name it style.scss:

[code]

### Current behavior
Severity	Code	Description	Project	File	Line	S

[2022-02-11 14:52] failwyn commented on #26
It sounds like there's an be an error in the kendo style sheet, if you can provide a sample project, I can take a look at it for you.

[2022-02-11 14:58] failwyn commented on #27
It looks like a syntax error, everything is namespaced when using @use; try @include base.box(50px)

[Sass Documentation](https://sass-lang.com/documentation/at-rules/use)

// let me know if this works so I can close the issue

[2022-02-11 15:43] cawise commented on #26
Yeah, that was my first thought, but then I wouldn't think it should compile when I manually trigger it either.

Is there any Web Compiler log where I could see what it's doing when automatically recompiling in the background? Maybe there's a silent error somewhere.

Thanks for the quick reply. I'll try to distill down a smaller project demonstrating the issue.

[2022-02-11 16:32] failwyn commented on #17
I'm gonna put this on the backburner since a proper implementation would require significant refactoring. Right now, I use the useNodeSass option to create the correct version of the SassCompiler, but the defaults are not loaded until you call RunCompilerProcess on the Compiler; I could hack this in by creating both Compilers, loading the defaults, then deciding which to use, but I'd like to avoid

[2022-02-11 16:41] failwyn commented on #26
Good observation! This may actually be related to #22, I need to figure out how to publish the updated package to Nuget since the CompileOnBuild option uses the Nuget Package instead of the Vsix. I'll look into this over the weekend; I've never published a nuget package, I probably have to rename the package as well to differentiate it from Mads' nuget.

[2022-02-11 19:21] failwyn commented on #25
I just pushed the version with this fix, please let me know if it resolved the issue.

[2022-02-11 19:23] failwyn commented on #22
This should be fixed in 1.14.3; I don't have a code signing certificate, so hopefully that doesn't break the functionality further...

[2022-02-11 19:23] failwyn commented on #26
This should be fixed in 1.14.3; let me know if this fixes the issue for you.

[2022-02-11 21:52] cawise commented on #26
Updated extension to 1.14.3 and it does install BuildWebCompiler2022 1.14.3, but now none of my .scss get compiled on build at all. They are successfully compiled when I click Re-compile from the context menu or change a file and save it, but none of them get compiled on build.

One time, I received an error after seemingly not having touched Visual Studio for a minute or two. I was presented with

[2022-02-11 21:57] cawise commented on #26
If I go into Task Runner Explorer and add bindings for each of the files, this adds a compilerconfig.json.bindings to my project and the files are compiled on build. However, often during build I will receive at least one prompt that "Web Compiler has stopped working."

Windows Event log contains an error similar to the one above.

[2022-02-11 23:28] failwyn commented on #26
I’ll look into this; it worked for me when I tested before uploading the nee extension, nit sure what could have changed.

[2022-02-12 08:12] hatakealex opened #28 "Recompiling Sass after editing a file doesn't work"
### Installed product versions
- Visual Studio: 2022 community
- This extension: 1.14.3

### Description
Recompiling Sass after editing a file doesn't work

### Steps to recreate
1. Create sass file
2. Re-compile - success: css file and minified file are created side by side
3. edit sass file
4. recompilation fails: style files remain old unchanged. if you delete them and click recompile again, th

[2022-02-12 08:15] hatakealex commented on #27
I support the author, mixins and imports do not work for me either.
VC 2022
web compiler 1.14.2

[2022-02-12 08:40] janissimsons commented on #27
I got it working in 3 different ways:

First - custom namespace

style.css:
[code]
Second - Import everything directly into the current namespace:

style.css:
[code]

Third - SASS automatically creates namespace the same name as the filename:
[code]

Note: 'base' filename must start with an underscore like this: '_base.scss'

**What is not working: Visual Studio intellisense tells me that @use is

[2022-02-12 08:46] hatakealex commented on #28
I found a bad solution:
delete files: compiled.css, compiled.min.css, compilerconfig.json, compilerconfig.json.defaults

then recompile.

But this is not the expected behavior of the plugin.

[2022-02-12 14:54] failwyn commented on #28
This appears to be related to the regex change I did to support @use and @forward; I'll try to have this fixed or rolled back today.

[2022-02-12 15:24] failwyn commented on #28
I think I found the issue... I've never been good with regular expressions... I'm gonna test for about an hour then upload a new version.

[2022-02-12 15:35] failwyn commented on #27
@janissimsons Visual Studio just doesn't recognize it yet; I don't think there's anything we can do other than ignore it. If you are happy with this resolution, just close this issue when you have a chance.

[2022-02-12 15:37] hatakealex commented on #28
I want to thank you very much for the plugin.  It saves a lot of time and is very useful in the case of, for example, Web forms - when the sass is not compiled automatically when compiling.  Thanks to you, I learned sass and realized that it is very good

[2022-02-12 15:43] failwyn commented on #28
I just uploaded 1.14.4; this should fix the issue.

[2022-02-12 17:39] hatakealex commented on #28
Now the behavior is like this, I will clarify my actions:
Run studio and open project.
I have a style.scss file. I make changes, save scss.
I right click on it > Web compilation > Re-compile file.

At the bottom of the studio, the status bar shows "Compiling...". Status does not change over time . If you click the mouse in any part of the program, then this status becomes "ready". The compiled fil

[2022-02-12 19:19] failwyn commented on #28
Studio compiles it in the background, I have a lot of files on mine, it takes about 30 seconds to finish compiling. If you change the file and just let it do its thing, does it eventually say successful? Mine is working as expected with 1.14.4.

[2022-02-13 06:29] hatakealex commented on #28
Everything is working.  You just need a correct display that the compilation process is in progress.  Thank you for your quick replies.

[2022-02-13 06:29] #28 closed

[2022-02-13 13:01] failwyn commented on #26
I’ll take a look at that on Monday; I didn’t want to leave a bad release out there for the weekend.

[2022-02-14 13:00] failwyn commented on #26
I found a few issues with the src/WebCompiler/MSBuild/BuildWebCompiler.targets file (paths to the exe and dll), but even after fixing them, I haven't gotten it to work yet; I'll keep looking at it, but I would love some advice if anyone has any experience with nuget packages with MSBuild targets.

[2022-02-14 15:57] aescg1220 opened #29 "Add the ability to support the linefeed option in dart sass"
### Installed product versions
- Visual Studio: 2022 Professional
- This extension: 1.14.4

### Description
Dart sass appears to have an option for line feed.  Please allow the option for it in the compilerconfig.json

[2022-02-14 20:30] aescg1220 commented on #29
turns out, they've got support for it internally but [no external cli parameter](https://github.com/sass/sass/issues/2604).

[2022-02-14 20:30] #29 closed

[2022-02-15 08:08] htodep commented on #24
@failwyn Sorry for the late reaction.
`[
  {
    "outputFile": "wwwroot/css/base.css",
    "inputFile": "wwwroot/css/base.scss",
    "options": {
      "includePath": "node_modules"
    }
  }
]`

And than in my base.scss I could do:
`@import "@progress/kendo-theme-bootstrap/scss/all";`

[2022-02-15 13:02] JanVargovsky opened #30 "Compilation of less file fails with 7z.dll unhandled exception"
### Installed product versions
- Visual Studio: Microsoft Visual Studio Professional 2022 (64-bit) Version 17.0.6
- This extension: 1.14.4

### Description
Compiling `site.less` fails on access to the path 7z.dll

### Steps to recreate
1. Standard ASP.NET .NET 6 project (Blazor server)
2. have wwwroot/css/site.less
3. run compilation

### Current behavior
Fails on unhandled exception
[code]

### E

[2022-02-15 13:42] failwyn commented on #24
I don't understand how that tells the system what directory @progress refers to... I manually replaced @progress throughout the scss with a relative path, so I would love to understand how this works and fix this issue since it would greatly simplify management of the kendo styles for me.

[2022-02-15 14:01] htodep commented on #24
Maybe it tells where to look for outside the wwwroot of the project.
the kendo files are located in: node_modules/@progress/kendo-theme-bootstrap/scss/all

[2022-02-15 14:05] failwyn commented on #24
Ah! So @progress is a folder name, not a variable! Thank you for that! I'll work on this as soon as I catch up on some work, work (hopefully by the end of the week).

[2022-02-15 15:16] failwyn commented on #24
Looking through the kendo scss files, they always have a ~ before @progress; can you try this and let me know if it works? If it doesn't I'll take the time to setup a project using the default kendo scss theme files.

@import "~@progress/kendo-theme-bootstrap/scss/all";

[2022-02-15 15:22] htodep commented on #24
No sorry, doesn't work. Tried the following:
~@progress/
~node_modules/@progress/

[2022-02-15 15:25] failwyn commented on #24
Okay, I'll set something up for testing; it appears to be implemented correctly in the code, I just don't see anywhere that says where the base folder is for the include path.

[2022-02-15 15:28] htodep commented on #24
Thank you for looking into it 👍

[2022-02-15 16:31] failwyn commented on #24
Sorry, I totally overlooked something... The Dart Sass option is called loadPaths instead of includePath and the path is from the root of the project. I tested in my project and it appears to be working.

I have to take a look at how to handle options between Node Sass and Dart Sass; the right way to fix it would probably be a breaking change that would require people to edit their overrides in th

[2022-02-15 19:21] htodep commented on #24
So I need to use loadpaths? Or wait for an update? I don't care about the breaking change or using different settings if I know which one I need to use ;)
Thanks again for how fast you are checking this out!

[2022-02-15 19:26] failwyn commented on #24
If you use loadPaths it should work in the current version, I am working on an update that will have different sections in defaults.json for NodeSass and Sass (Dart Sass), right now it's a bit confusing with all of the options under one section.

// hopefully I don't break anything else in the process
// I wish VisualStudio Marketplace supported PreRelease channels and would give access to differe

[2022-02-15 19:33] failwyn commented on #30
Can you try the fix outlined [here](https://github.com/madskristensen/WebCompiler/issues/390)?

[2022-02-15 19:57] htodep commented on #24
Oké Nice. Will check tomorrow and see if everything compiles with this option.
Would love to have that option too. The old compiler for 2019 didn't work with the latest bootstrap either because of some css variable that we're to fancy and modern. Glad that this extension is being maintained

[2022-02-15 20:58] failwyn commented on #24
It’s critical for my company, so I’ll be maintaining it the best I can until Visual Studio has native support for it.

[2022-02-16 08:34] htodep commented on #24
so i checked it out. and it's trying to compile but now I have a different error: do you know what it is?
`Error		Error: $color: null is not a color.
     ╷
1219 │     "r": red($color),
     │          ^^^^^^^^^^^
     ╵
  @progress\kendo-theme-bootstrap\dist\all.scss 1219:10   luminance()
  @progress\kendo-theme-bootstrap\dist\all.scss 448:12    contrast-wcag()
  @progress\kendo-theme-bootstrap\d

[2022-02-16 08:46] htodep commented on #24
@failwyn
So i found my problem. package.json wasn't updated to the latest kendo bootstrap version. manually updated the version and did a npm update in cmd. everything compiled correctly. Thank you for helping me out!

[2022-02-16 10:52] JanVargovsky commented on #30
Well, I've set it to uninstall with next VS close, then ignored it, so it was still installed, and was trying to find other extension and in the meantime, it started working.

[2022-02-16 11:18] failwyn commented on #24
That's great to hear! I'm glad everything is working now!

[2022-02-16 11:20] failwyn commented on #30
It seams like it's a very rare issue based on the number of comments over the last 3 years (on the initial issue in Mads' repo); let me know if it happens to you again, If we can identify a way to reliably reproduce it, I could probably fix it.

[2022-02-17 19:10] dgoldm commented on #25
The fix works fine for basic @use rules, such as `@use 'file1';`
But not for those that use the full syntax, e.g.
`@use 'file1' as *;`
or
`use 'file1' with ($var1: 0);`

[2022-02-18 06:21] dgoldm commented on #25
No. And the status bar shows "Compiled successfully".
Although it's clear why it's not working, the match returned by regex at line 53 of src/WebCompiler/Dependencies/SassDependencyResolver.cs contains all the characters up to the semicolon.

[2022-02-18 07:54] dgoldm commented on #25
No error shown.
Although apparently it's clear why it's not working, the match returned by regex at line 53 of src/WebCompiler/Dependencies/SassDependencyResolver.cs includes all the characters up to the semicolon.

BTW, while investigating the issue I came across another problem with the above regex - if the @use or @import rule is commented out, it still matches, and the file is processed even t

[2022-02-18 11:14] failwyn commented on #25
@dgoldm That Regex is only responsible for identifying which files will trigger compilation on save, it has nothing to do with the actual compilation; the Sass CLI is used to compile the files; so, that regex doesn't need to be perfect.

[2022-02-18 15:32] failwyn commented on #25
I’m not good enough with Regex to make the pattern match better, but I could split the string on “as” and “with” in the GetFileInfos function to get it working.

[2022-02-20 06:43] dgoldm commented on #25
I'm no expert either, but may I offer a suggestion:
According to the [docs](https://github.com/sass/sass/blob/main/accepted/module-system.md#use-1), the syntax of @use & @forward is simpler than [@import](https://developer.mozilla.org/en-US/docs/Web/CSS/@import), specifically in that it only allows one file per rule.
Maybe you could process them separately?

This regex should work (capture what's

[2022-02-20 12:30] dgoldm commented on #25
@failwyn I modified the code and managed to create a working version (tested in VS 2022).
It looks like I'm missing some dependencies and tools on my machine to actually build the vsix, so I can't test the compiled extension itself.
Should I create a pull request?

[2022-02-20 14:02] failwyn commented on #25
If you want to check it in, I’ll take a look at it; I got it working with the string split, but if your fix is better, I’d be happy to implement it.

[2022-02-20 15:31] alvipeo opened #31 "WebCompiler error 0: cannot compare numbers with incompatible units"
### Installed product versions
- Visual Studio: 2022
- This extension: 1.14.4

### Description
Invalid error - can't compile the project!

### Steps to recreate
I have the following valid SCSS in one of my SCSS files:
[code]

### Current behavior
Throws the following error:

And the Error List point to the wrong file, wrong line and even wrong position within that line (points to middle of nowhere

[2022-02-20 17:04] dgoldm commented on #25
Done.
Note that also the original processing of @import rules wasn't complete - it also didn't cover cases where the rule contained optional clauses that are part of the syntax.
But since nobody has complained until today, and Sass is now deprecating @import, there's probably no point in fixing it.

[2022-02-21 17:03] kkembel commented on #24
I'm not sure if this helps at all, but I had the same challenge with kendo's source files referencing their @include lines using tildes, and I couldn't get the includePath of "node_modules" to work for me using Mads extension. I just setup gulp to compile kendo using node-sass and set the importer to an instance of node-sass-tilde-importer and it handles the ~@Progress references as /node_modules/

[2022-02-21 17:54] failwyn commented on #24
I never tried using includePaths with Node Sass, but since Node Sass is no longer being maintained, I'm hesitant to spend time enhancing it, I mainly left it there as a bridge for people that aren't ready to move to Dart Sass yet. I am currently compiling all of the Kendo SASS themes in my projects using Dart Sass and the loadPaths property. Once I catch up on some work, I'll test if includePaths

[2022-02-21 18:08] kkembel commented on #24
No good reason, just habit. I'll try a switch to dart with your extension and see how loadPaths goes. Sounds better than what I'm doing.  PS, thanks for forking this, your work is much appreciated!

[2022-02-23 14:42] Andy-Corrigan opened #33 "Variable interpolation not working as expected"
When interpolating SCSS variables, unexpected outcomes seem to be occurring. I'm relatively new to this particular part of SCSS, so it might just be me getting it wrong.

### Steps to recreate
I've created a mixin:

[code]

Based upon this map:

[code]
Which results in this:

[code]

Now, in my attempts to get quotes around that theme (i.e. `[data-theme="dark"]`), I've had `[data-theme=\"dark\"]`,

[2022-02-23 15:07] Andy-Corrigan commented on #33
Update:

This block is the closest I've gotten:

[code]

Which gets: `[data-theme=" dark "]`

[2022-02-24 16:19] failwyn commented on #33
Can you give this a try and let me know if it works as expected?

https://sass-lang.com/documentation/values/strings

[2022-02-24 16:22] initmaster commented on #19
Yes it works with adding another set of parentheses.

But according to official less compiler (https://lesscss.org/less-preview/) it should work without adding another set of parentheses. It also works great with WebCompiler 1.12.394 by Mads Kristensen on VS2019.

[2022-02-24 16:27] Andy-Corrigan commented on #33
That was the first place I'd looked - using the quote function instead of that custom one resulted in `data-theme=""dark""`

Initially, I'd thought it was just my mistake, so I had made [this question on SO](https://stackoverflow.com/questions/71237519/using-scss-to-generate-css-variables)

[2022-02-24 17:09] failwyn commented on #19
1.12 used Node Sass, 1.14 is using Dart Sass (Node Sass is no longer maintained), with an option to revert to Node Sass.

[2022-02-24 17:56] failwyn commented on #33
Are the quotes here required? This could be related to this issue.

https://github.com/sass/sass/issues/2845

[2022-02-25 04:03] mastermehdi opened #34 "SCSS values are not compiled in css variables"
### Installed product versions
- Visual Studio: 2022 Enterprise
- This extension: 1.14.4

### Description
SCSS values are not compiled in css variables

### Current behavior
$scss-color-value: #ffffff
--css-variable: $scss-color-value;
//After Rendering
--css-variable: $scss-color-value;

### Expected behavior
$scss-color-value: #ffffff
--css-variable: $scss-color-value;
//After Rendering
--css-va

[2022-02-25 04:23] #34 closed

[2022-02-25 08:40] Andy-Corrigan commented on #33
Ahh, looking into it based on that feedback; it looks like it's optional (so long as the value is alphanumeric). So, it's probably worth looking into, just incase someone needs it for a href tag at some point.

[2022-02-25 11:41] failwyn commented on #33
The string.quote($variable) syntax appears to work as expected outside of the attribute selector, if you have an example where the quotes are required, but you can't get them to stay, I'd be happy to file a bug with Dart Sass and upgrade the extension when they address it.

[2022-03-01 16:00] failwyn commented on #25
I'm testing a fix for this that makes fewer changes and appears to work in all scenarios that I could think of without modifying too much code. I committed the change in a branch if anyone wants to review it before I merge it to release a new version.

[2022-03-02 07:15] dgoldm commented on #25
I tested it in the scenario where I was having problems - works ok.

+1 for not wanting to modify too much code.
My approach in rewriting the module was to take into account Sass's coming deprecation of @import rules, but your approach of not wanting to rock the boat too hard makes sense too.

[2022-03-02 10:48] failwyn commented on #25
Thank you for taking the time to rewrite the code and create the Pull Request, I really appreciate the help and input even if we didn’t use it this time.  If I had the time to test it thoroughly I would have merged it. Thanks for validating this fix as well!

[2022-03-07 12:38] failwyn commented on #25
1.14.5 is now available and should address this issue

[2022-03-09 00:27] brenasmith opened #35 "VS 17.1.1 SCSS Compile Error"
### Installed product versions
- Visual Studio: Community 17.1.1
- This extension: 2.9.3

### Description
When compiling SCSS files the CSS file is not generated and this error occurs...

"Unexpected character encountered while parsing value: [. Path 'loadPaths', line 3, position 16"

This error started after upgrading VS to 17.1.1 from previous latest version.

Same error happens in another solut

[2022-03-09 02:46] doddy22 commented on #35
Also started getting this issue today for scss files. Though I'm still on VS 17.0.5

[2022-03-09 05:21] JSystemsTech commented on #35
Confirmed that I also am getting this issue after upgrading VS to 17.1.1

[2022-03-09 13:34] fabioparra commented on #35
Same here... VS 17.0.0

[2022-03-09 13:48] losingrose commented on #35
Same here VS 17.0.5
After I update the latest version 1.14.5.
Where can I download old version?

[2022-03-09 14:21] fabioparra commented on #35
Thanks @losingrose. I edited compilerconfig.json.defaults file and changed the "loadPaths" value of "sass" object from [] to "".
Its documented here: [https://github.com/failwyn/WebCompiler/blob/master/CHANGELOG.md](url)

[2022-03-09 16:22] ThreeSevenths commented on #35
I had to adjust two properties in my sass section: style changed to "expanded", and loadPaths to "" as @fabioparra mentions. I did not have to adjust anything else or make a nodesass section.

[2022-03-09 17:03] itcasinosolutions commented on #26
FWIW, I spent quite a bit of time trying to figure out why this particular NuGet package does not compile my SASS files on build, but the original one does.  I had noticed that the path in the msbuild targets file was pointing to the wrong place, fixed that, but to no avail.  There was one other peculiarity that I found, but could not for the life of me figure out how this was being set.

Specific

[2022-03-09 17:30] #35 closed

[2022-03-09 17:43] failwyn commented on #26
Thanks for this! I found some links that could be promising to fix this issue! I had to do a quick release to fix a backwards compatibility issue today, but I will try fixing this issue again later in the week.

[2022-03-09 17:56] failwyn commented on #26
That did it!!! I'll get a new version out as soon as I'm sure today's release is stable, in the meantime, if you go to

%userprofile%\.nuget\packages\buildwebcompiler2022\1.14.6\build

and rename BuildWebCompiler.targets to BuildWebCompiler2022.targets then Disable and Enable Build on compile, it will start working as expected.

[2022-03-09 18:18] #25 closed

[2022-03-09 18:19] #22 closed

[2022-03-09 18:20] #18 closed

[2022-03-09 18:36] failwyn commented on #33
I'm gonna close this issue since I haven't found any places where it removed the quotes when they are required.

[2022-03-09 18:36] #33 closed

[2022-03-09 18:44] failwyn commented on #21
It doesn't look like this is going to be possible since the files are compiled using NodeJs and it doesn't look at the project file to see where the actual file is located; it also doesn't look like LESS has an option similar to LoadPaths in SASS.

[2022-03-09 19:11] itcasinosolutions commented on #26
Love it! I was just about to post that I fixed it with a rename of the .targets file!  Great minds must think alike, no?

Thanks for keeping this project alive!

[2022-03-10 15:29] BenCant opened #36 "Sass command help in css file"
- Visual Studio: 2022 Professional
- This extension: 1.14.6

AFAICT: Was working in 1.14.4

When Web Compiling a scss file the compilation succeeds but the resultant css file contains:
[code]

[2022-03-10 16:15] failwyn commented on #36
In the defaults file, under the sass node, set the value to "expanded"

// I really should have left the defaults file alone <facepalm>
// I'll get a backwards compatibility fix in there for this
// thanks for the report

[2022-03-10 18:14] #36 closed

[2022-03-10 18:16] #26 closed

[2022-03-16 16:42] meixger commented on #19
I had similar errors after upgrading from a very old WebCompiler.
Resolved my errors and gained backward compatibility by addeing the `math` property to compilerconfig.json.defaults

[code]

[2022-03-16 18:02] failwyn commented on #19
Thanks for this update, I'll look into the effects of this setting and see about adding it to the defaults for the next release.

[2022-03-18 09:54] boekhoffj2801 opened #37 "Version 1.14.7 error when publishing: No such file or directory"
### Installed product versions
- Visual Studio: [2022 Professional]
- This extension: [example 1.1.21]

### Description
With version 1.14.6 all works fine. (Even after downgrading from 1.14.7 to 1.14.6 again.)

After updating to 1.14.7 I get the following as part of the docker log:

Output of Docker Log
#18 9.386   WebCompiler: Begin compiling compilerconfig.json
#18 9.502   WebCompiler installing

[2022-03-20 22:39] failwyn commented on #37
Is there any way you can help me replicate this? I have no experience with Docker; a sample application demonstrating the issue would be invaluable.

[2022-03-29 16:18] tlydon3 opened #38 "VS2022 Right Click "Web Compiler" menu does not show up."
### Installed product versions
- Visual Studio: 2022 Community
- This extension: 1.14.7

### Description
The  "Web Compiler" menu does not show up on right click  of any file, including compilerconfig.json

### Steps to recreate
1. Right click on compilerconfig.json or .scss file

### Current behavior
Not menu showing

### Expected behavior
Expecting menu like this image:
https://github.com/failwy

[2022-03-31 18:48] osoviejo commented on #38
I was seeing the same behavior.  I have extensively customized the VS menu/toolbar/context configuration, although made no explicit changes to the Web Compiler entries.  I reset the customizations to default, and the web compiler started showing up in all the expected ways.  The VS menu customization infrastructure is, in my experience, a mess of bugs and bad behavior.  Add this to the list.

[2022-03-31 19:12] osoviejo opened #39 ""The system cannot find the path specified.""
### Installed product versions
- Visual Studio: 2022 Community
- This extension: 1.14.7

### Description
Any attempt to compile a SCSS file generates an error message ("The system cannot find the path specified.").  The error list message identifies the location of the error as the file to be compiled, at line 0.

### Steps to recreate
1. Rolled a fresh .NET Framework 4.8 MVC project, which compil

[2022-03-31 19:23] failwyn commented on #38
@tlydon3 Does resetting the VS menus as described above resolve the issue for you?

@osoviejo Thanks for the info! The menus in VS are a nightmare to work with!

[2022-04-01 10:26] failwyn commented on #39
@osoviejo  Would you mind posting that project, this is working as expected for me.

[2022-04-01 22:33] osoviejo commented on #39
Solved.  That you couldn't repro told me it was something environmental on my machine.  This was confirmed when I searched the error message and learned it is specific to cmd.exe.

It's usually a bad path environment variable issue, but in my case it was in the autorun registry entry for cmd.exe.  I have used [clink](https://github.com/chrisant996/clink) for years, but recently updated it.  One of

[2022-04-01 22:33] #39 closed

[2022-04-01 23:05] failwyn commented on #39
Just glad you got it working!

[2022-04-05 02:49] Sora2455 opened #40 "Feature request: glob patterns or some other way to process large groups of files"
This extension would be far better if I didn't have to worry about other developers (or myself) forgetting to add new JSX files to the compilerconfig.json file.

[2022-04-05 19:36] failwyn commented on #40
Can you provide some examples of your vision? Load order doesn’t matter for your js files?

[2022-04-05 20:04] Sora2455 commented on #40
At my workplace we're using a different method to actually bundle and serve our JS files, so we just need to compile the JSX to JS. We have several hundred JSX files and adding more all the time - so the ability to declare "compile all JSX files and put the JS file in the same location" would idiot-proof the project. At the moment I'm investigating writing a powershell script to add all the files

[2022-04-05 20:45] failwyn commented on #40
I’ll look into what it would take to support this.

[2022-04-05 21:10] Sora2455 commented on #40
Thanks.

[2022-04-06 13:29] Sc0tTyXL opened #41 "Release feed"
Hello,

Can you output new releases to the release feed?
That way it can be monitored with RSS :)

PS: thank you for taking up the support!!

Sc0tTy

[2022-04-06 13:32] Sc0tTyXL opened #42 "Dart Sass version"
Hello,

Can you tell us (and possibly update the documentation) what version of the Dart Sass compiler you are using?

And can you tell us if you are using the JS or VM version ?
https://itnext.io/the-css-preprocessor-dilemma-node-sass-or-dart-sass-32a0a096572

Thank you!

Sc0tTy

[2022-04-07 02:06] failwyn commented on #41
I have absolutely no idea how to do that.

[2022-04-07 09:14] loshuliveros opened #43 "Bootstrap v5.1.3 sass"
### Installed product versions
- Visual Studio: 2022 Professional
- This extension: 1.14.7

### Description
I can't compile official unchanged bootstrap v5.1.3 sass.

### Steps to recreate
1. Bootstrap sass and js files were downloaded and managed by Client side manager (libman.json)
2. In compilerconfig.json: "inputFile": "Content/lib/bootstrap/scss/bootstrap.scss"

### Current behavior
In [offic

[2022-04-19 21:22] tlydon3 commented on #38
It turned out to be an issue with solution originally created in VS2019 and then opened with VS2022. After reinstalling Web Compiler it started working.

[2022-04-19 21:22] #38 closed

[2022-04-19 22:07] failwyn commented on #38
Glad to hear it’s working; Thanks for updating the issue.

[2022-04-20 04:52] zacuke opened #44 "Upgrade issues: Long relative path needed adjusted from prior 2019 WebCompiler and duplicate nuget package"
After upgrading from the previous of WebCompiler,

We have a scss file with an @import path like this:
@import "../../../../../lib/bootstrap/scss/bootstrap.scss";

I had to edit all of them to include an additional ../
@import "../../../../../../lib/bootstrap/scss/bootstrap.scss";

Also I  had to manually uninstall the old WebCompiler nuget package and it would be nice if this one automatically re

[2022-04-20 14:11] failwyn commented on #44
Can you provide a sample solution that worked in 2019 with less ../‘s? I have a massive number of scss files that import using relative paths and haven’t had any that required changes.

[2022-04-20 18:38] zacuke commented on #44
No problem, here is a repro project: [temp2.zip](https://github.com/failwyn/WebCompiler/files/8524362/temp2.zip)

Assuming both vs2019 and vs2022 have the respective WebCompiler extension already installed

1. Extract the zip but maintain the folder structure (Find sln inside zip at \temp2\ReproOuter\level1\level2\repro\Repro)
2. Opens in 2019 and I can make a change to the scss file and it regene

[2022-04-21 21:39] pf-phill commented on #19
Even `border-radius: @card-border-radius / 2;` does not compile.

[2022-04-22 02:00] failwyn commented on #19
Add Parentheses

[2022-04-22 02:05] pf-phill commented on #19
I have many many many of these occurrences which I don't want to change if I don't have to (is not having parenthesis illegal?). Anyway meixger's fix worked.

[2022-04-22 02:11] failwyn commented on #19
From lesscss.org

“From 4.0, No division is performed outside of parens using / operator.”

[2022-04-28 11:35] NickNirus commented on #37
Also getting this error. The problem seems to stem from the attempt to start cmd.exe in a Linux container. Will try to publish a sample ASAP.

[2022-04-28 19:34] terrysmith-fiworks commented on #24
Hi, I'm having this same issue trying to use WebCompiler in VS 2022 with the latest Kendo Bootstrap theme. Can you please share what the final settings should look like?

My compilerconfig.json looks like this after adding "includePaths" as what I interpreted from above:
[code]
When all.scss contains:
`@import "@progress/kendo-theme-bootstrap/scss/all";
`
I get "Error: Can't find stylesheet to imp

[2022-04-28 21:54] failwyn commented on #24
It should be loadPaths, include paths was a property if the old sass compiler.

[2022-04-28 23:27] failwyn commented on #24
Can you describe your project structure or upload a small sample application? I’d be happy to help get it working for you.

[2022-04-29 14:58] terrysmith-fiworks commented on #24
The project structure looks like this:
[code]
With some trial and error I found that this is the proper place to put loadPaths. In other words, it doesn't match the structure of the defaults file as I asked further above.

[code]

So now I'm back to the tilde problem. When my all.scss as the import with the tilde:
`@import "~@progress/kendo-theme-bootstrap/scss/all";
`
I get "Can't find stylesheet

[2022-04-29 16:10] failwyn commented on #42
{
  "dependencies": {
    "autoprefixer": "^10.4.0",
    "babel": "^5.8.34",
    "handlebars": "^4.7.7",
    "iced-coffee-script": "^108.0.14",
    "less": "^4.1.2",
    "less-plugin-autoprefix": "^2.0.0",
    "less-plugin-csscomb": "^0.0.2",
    "node-sass": "^6.0.1",
    "postcss": "^8.4.4",
    "postcss-cli": "^9.0.2",
    "sass": "^1.44.0",
    "stylus": "^0.55.0"
  },
  "devDependencies": {

[2022-04-29 16:19] failwyn commented on #44
Based on the sample project, you need to go up 6 directories to get to the temp2 directory that contains your lib directory; I don't know why this worked in the previous version with incorrect relative paths (going up 5 directories lands you in the ReproOuter directory); unless I'm missing something, it appears to be working correctly in the current version.

[2022-04-29 16:22] failwyn commented on #43
@loshuliveros Were the details of this issue intentionally removed? Should I close it or is it something you'd still like me to take a look at?

[2022-04-29 16:25] zacuke commented on #44
The old code must be trying multiple alternate source paths when resolving the relative pathing. I'll close with comment, at least this discussion is here if anyone else gets hung up on this particular oddity.

[2022-04-29 16:25] #44 closed

[2022-05-09 20:50] markadrake commented on #41
If there's still interest in this...

[The RSS part is automatically created for you](https://github.com/failwyn/WebCompiler/releases.atom).

[You can create releases from the GitHub UI](https://docs.github.com/en/repositories/releasing-projects-on-github/managing-releases-in-a-repository). I figured it easier to link to the instructions than to explain here.

[2022-05-20 15:59] timjdale opened #45 "The system cannot find the file specified"
### Installed product versions
- Visual Studio: Microsoft Visual Studio Professional 2022 (2) (64-bit) - Current Version 17.2.1

- This extension: 1.14.7

### Description
Will not compile after installing VS 2022 pro. No issues when using Community version (now uninstalled) or when using sass compiler in vs code.

### Steps to recreate
1. install Extension
2. right click on .scss main file
3. Erro

[2022-05-23 10:19] Fandermill opened #46 "Unable to compile sass files - browserslist says caniuse-lite is outdated"
### Installed product versions
- Visual Studio: 2022 Professional (v17.2.0)
- This extension: 1.14.7

### Description
The extension is unable to compile sass files, probably because of an outdated node package `caniuse-lite` or `browserslist`.

### Steps to recreate
1. Right-click on the `compilerconfig.json` file and choose WebCompiler > Re-compile all files

### Current behavior
When trying to c

[2022-05-23 13:08] timjdale commented on #45
Solved - company's over-zealous anti-malware had deleted my cmd.exe file when it thought that my new visual studio 2022 install was a threat.

[2022-05-23 13:08] #45 closed

[2022-05-24 01:43] atollis commented on #46
I just ran into the same issue

[2022-05-24 18:45] Fandermill commented on #46
Thanks for your reply!

Here is my `compilerconfig.json.defaults`:
[code]

And this is my `compilerconfig.json`:

[code]

I guess it's the `autoPrefix` option that triggers the use of `browserslist` and/or `caniuse-lite`.

[2022-05-25 18:28] failwyn commented on #46
I'm looking into this, but as a workaround you can add an [Environment Variable](https://docs.oracle.com/en/database/oracle/machine-learning/oml4r/1.5.1/oread/creating-and-modifying-environment-variables-on-windows.html#GUID-DD6F9982-60D5-48F6-8270-A27EC53807D0) to stop it from throwing the error.

BROWSERSLIST_IGNORE_OLD_DATA=true

I just tested this and it worked as soon as I closed and reopened

[2022-05-26 00:48] failwyn commented on #46
I’m glad to hear you’re up and running! I’ll do more research on this to find a legitimate fix, otherwise I’ll make a note to update it for every release; ideally I’d like to find a way to have it automatically update when the extension loads.

[2022-05-27 09:19] Fandermill commented on #46
Ah yes, I forgot to express my gratitude for picking up the project. It is indeed much appreciated!
Adding the environment var seems to work for now.

I had this problem with Kristensen's version too, with a slightly different error message though. I made a fixing .bat file and executed it every time the problem rose. (now that I'm thinking about it; I might have found it somewhere in the issue di

[2022-05-30 06:00] Sc0tTyXL commented on #42
Have you looked at supporting the dart version of the compiler, it should be a lot quicker?
Any chance of using updated versions of the compiler (it's behind quite a bit already)?

[2022-05-30 13:34] failwyn commented on #42
We currently support Dart Sass and Node Sass; I’m planning on upgrading the libraries on a yearly basis because it requires a lot of time for testing, and it’s difficult to test thoroughly since I don’t use all of the supported libraries myself. Is there a missing language feature or issue caused by the current version of Dart Sass?

[2022-06-01 17:56] VictorioBerra commented on #38
Wanted to say, my extension was set to disabled. Going to Extensions -> Installed -> Web Compiler and clicking "Enable" fixed it.

No idea how it became disabled...

[2022-06-07 15:00] beho opened #47 "Handlebars: compiling directory with templates"
Hi,

I'm currently using something like this to compile Handlebars templates:

`call node node_modules\handlebars\bin\handlebars Static\Templates -f Static\Templates\templates.js`.

It takes all templates in the directory and compiles them to a single script.

Can this be achieved with WebCompiler? It seems to me that it is not because only a single input file (with extension) can be specified but

[2022-06-10 03:49] failwyn commented on #47
Unfortunately, I have never used handlebars, but you could probably use Web Compiler to compile the individual files, then use Bundler & Minifier to combine them and minimize them.

[2022-06-30 10:54] molequetu commented on #24
Any update on this;

I am trying to use WebCompiler in order to compile my SCSS kendo files, and I am stuck as it seems with the ~ tilde problem;

@failwyn if we replace the ~ with '', how then we gonna update; I mean new update will override again namespaces, wont they;

My project setup, simple. All files on root

node_modules (@progress/kendo-theme-bootstrap": "^5.5.0") related dependencies
ken

[2022-06-30 11:12] molequetu commented on #24
quick update on this; made my compilation work;

As mentioned, I started by using the kendo ThemeBuilder(where I had selected Bootstrap 4) from the addition config. So, at the end I had a .scss using tilde on imports generated. And installed the latest kendo-theme-bootstrap(5.5.0)

Now I downgraded to 4.36.0 kendo-theme-bootstrap (because I remembered that I used the bootstrap 4 in theme builder)

[2022-06-30 11:35] failwyn commented on #24
@molequetu Glad to hear you got it working! I got my kendo themes to compile using loadPaths, but ended up reverting to modifying the import statements to make intellisense work again and stop Visual Studio from reporting undeclared variable usage... I really wish they would add native SASS support to Visual Studio.

[2022-06-30 18:11] jasonswearingen commented on #40
I have the same request.   setting wildcards once and not having to manually synchronize the compilerconfig.json every file change would be really nice.

[2022-06-30 20:57] failwyn commented on #40
File order isn’t important to your bundles?

[2022-06-30 21:35] jasonswearingen commented on #40
maybe I'm too much of a noob, but the order doesn't matter for me either.

[2022-07-04 10:00] molequetu commented on #24
@failwyn what do you mean ended up reverting and modifying the import statements; Can you share with me your project setup and kendo-theme-bootstrap version usage;

After my workaround that I explained before, using kendo-theme-bootstrap 4.36.0, withe the .scss generated from theme builder, my final styles(css) are not the same by using the autogenerated from theme builder. So, maybe  I have to us

[2022-07-04 11:47] boekhoffj2801 commented on #37
The problem still resides in 1.14.8.
I agree to comment of NickNirus. Publishing to (a linux) docker image compiles project on linux where no cmd.exe exists...

[2022-07-13 23:23] glittle opened #48 "Bootstrap SASS compiled with get-function inside CSS"
### Installed product versions
- Visual Studio: 2022
- This extension: 1.14.8

### Description
Bootstrap SASS compiled with get-function inside CSS

### Steps to recreate
1. Download "bootstrap.sass" version 5.1.3 using Nuget.
2. Compile the 'bootstrap.scss' file
3. Use the '.bg-primary' class on an element

### Current behavior
"get-function" is in the CSS content
![image](https://user-images.git

[2022-07-13 23:23] glittle commented on #48
This seems to be the same as this original issue, which is unsolved.
https://github.com/madskristensen/WebCompiler/issues/478

[2022-07-13 23:59] glittle commented on #48
Strange... after re-compiling the SASS file, the compile CSS was good again.

[2022-07-13 23:59] #48 closed

[2022-07-16 03:33] MAST1999 commented on #37
I can confirm this too.

I'm on linux and when I try to run the app I get this error:

`An error occurred trying to start process 'cmd.exe' with working directory`

[2022-07-16 21:50] failwyn commented on #37
This appears to have broken when I upgraded the nuget package; the working version was using the last version of Mads’ extension from nuget; I don’t have a Linux machine or a Docker instance at the moment; I’m open to pull requests or suggestions if anyone has any idea what would have broken this since the old extension also used cmd.exe to run the compilers.

[2022-07-16 21:55] MAST1999 commented on #37
Hmm, if you are on windows maybe try WSL to check.
Otherwise, I'm not familiar enough with C# and Blazor to actually help 😅

[2022-07-18 04:54] boekhoffj2801 commented on #37
I think it wasn't possible to build on a linux machine / container before 1.14.7. But due to another error the compilation didn't start when building. (See comments for version 1.14.7.) So a build didn't fail because WebCompiler wasn't startet at all. With 1.14.7 WebCompiler get's started during build and that makes the build fail.
I deactivated the ~Compile on build~ option in the context menu. S

[2022-07-27 00:28] cryo75 opened #49 "Incompatible error when using calc(0.25rem - 0)"
### Installed product versions
- Visual Studio: 2022 Community
- This extension: 1.14.8

### Description
I'm using [AdminLte](https://github.com/ColorlibHQ/AdminLTE) as my base for styling.

I added a scss file in my project and the first line is:
`@use '../../wwwroot/AdminLte/dist/css/adminlte.css';`

When I compile I get the error:

For example in the following code:
[code]

Apart from removing

[2022-07-30 10:23] ElStupid opened #50 "Disable "use strict" on minifying javascript"
### Installed product versions
- Visual Studio: 2022 Community Edition
- This extension: 2.9.3

### Description
A compilerconfig.json option for using "use strict" in javascript minification is highly wanted. It has been asked in Mads' version multiple times, but never created. Now the minified version of a javascript file always has the "use strict" option enabled.

### Steps to recreate
1. creat

[2022-07-31 09:05] ElStupid commented on #50
Updated problem description above. The "use strict" is only generated when Re-compile file is chosen.

[2022-08-25 16:10] py-nux opened #51 "[ARM64] Plugin don't start in Visual Studio 17.4 (ARM64)"
### Installed product versions
- Visual Studio: 2022 Community Preview 17.4 ( ARM64 Installation)
- This extension: .14.8.1

### Description
Extension don't start in ARM64 of Visual Studio
in log :
CreateInstance failed for package [WebCompilerInitPackage]Source: &apos;mscorlib&apos; Description: Could not load file or assembly &apos;file:///c:\users\pynux\appdata\local\microsoft\visualstudio\17.0

[2022-08-26 18:18] adrianhall commented on #46
I managed to get this updated by the following:

[code]

No idea how that directory gets built (I’m assuming by the WebCompiler extension), but if you add a package.json file into the WebCompiler1.14.8, then you can at least `cd …/WebCompiler1.14.8; npx browserslist —update-dbl and it will do the right thing.

I suspect something similar will have to be done with the BuildWebCompiler2022 NuGet pac

[2022-08-26 18:28] adrianhall commented on #46
... and my thought is to do the following change in https://github.com/failwyn/WebCompiler/blob/master/src/WebCompiler/Node/prepare.cmd#L6

[code]

Adding this line will re-build the database on install.  Ideally, this same thing can be done at two additional times:

1) On a right-click on the compilerconfig.json file - same place as the Enable compile on build...
2) During a build, right before t

[2022-09-03 11:03] VaclavElias opened #52 "Feature - Web Compiler for Folder View"
Would it be too much work to enable compiling without Solution or Project, just by using Folder View? Folder view is used for e.g. static content..

<img width="442" alt="image" src="https://user-images.githubusercontent.com/4528464/188267342-06ad45cf-c80a-4faa-9b43-f36924cbe2d1.png">

And it should work the same if it can e.g. creating whatever is needed compilerconfig.json, ..

<img width="468"

[2022-09-14 21:27] RacerDelux opened #53 "SCSS Not Generating Map Files"
### Installed product versions
- Visual Studio: 2022 Professional
- This extension: 1.1.21

### Description
In Compilerconfig.json.defaults I have enabled map files. I also tried enabling map files per item in compilerconfig.json as a separate test. Both of the options generate the map files.

### Steps to recreate
1. Enable map files in compilerconfig.json.defaults
2. Compile any scss file

### C

[2022-09-15 22:34] randomman552 commented on #37
I have a potential solution. The only problem is I have no idea how to build the nuget package for local testing.

We could potentially check what OS we are running on during the compile process and switch to using a platform appropriate shell to execute the command. On linux that would be something like `sh` or `bash` while still using `cmd.exe` on Windows.
We would also need to unpack resources

[2022-09-16 10:28] failwyn commented on #51
I don't have access to an ARM64 machine to replicate this, open to pull requests if anyone would like to investigate it.

[2022-09-16 10:47] failwyn commented on #37
@randomman552 I only have a windows machine, so I'll need someone to submit a PR and commit to maintaining this functionality.

[2022-09-16 11:09] failwyn commented on #53
Are you using the Sass or NodeSass compiler? Can you provide your compilerconfig.json and compilerconfig.json.defaults?

[2022-09-16 12:27] failwyn commented on #49
This would have to be reported to the developer of the Sass compiler; are you using sass (default) or nodesass?

[2022-09-16 19:41] RacerDelux commented on #53
I should be using Sass. I took the default compiler config default file and just enabled maps.
`[
  {
    "outputFile": "wwwroot/css/site.css",
    "inputFile": "wwwroot/css/site.scss"
  },
  {
    "outputFile": "wwwroot/css/tradeTicket/tradeTicket.css",
    "inputFile": "wwwroot/css/tradeTicket/tradeTicket.scss"
  },
  {
    "outputFile": "wwwroot/css/home/entry.css",
    "inputFile": "wwwroot/cs

[2022-10-08 01:21] failwyn commented on #53
The map should be generated at the end of the css file; I’ll look into expanding the options for the source maps.

[2022-10-11 20:32] RacerDelux commented on #53
Got it thanks! That would be a great addition if possible.

[2022-10-12 13:54] TPIvan commented on #19
Should not be then marked division outside parentheses marked as error?

[2022-10-12 14:02] failwyn commented on #19
@TPIvan I don't have any control over that, Visual Studio needs better native support for LESS and SASS...

[2022-10-12 17:07] philwindsor opened #54 "BuildWebCompiler2022 dotnet6 supported?"
I'm using the BuildWebCompiler2022 nuget package to try and compile the sass files during builds in our pipelines.

Question is, is this still supported or does it work for dotnet6?

It compiles the css files fine but immediately after its finished it says that it can't find ont of the scss files so the build fails. I can reproduce this issue locally to.

nuget version for reference: BuildWebCompi

[2022-10-12 17:28] philwindsor commented on #54
ignore me, I can't read error messages properly!

Just to confirm, its working fine with dotnet6!

[2022-10-12 17:28] #54 closed

[2022-10-12 20:02] airwedge1 commented on #24
Anyone figure out a resolution with the tilde thing?

[2022-10-12 20:26] failwyn commented on #24
It sounds like Kendo is going to be making changes to the themes to make them more compatible with .net compilers; they actually mentioned this vsix, so maybe I can put in a support ticket and get more info, or maybe give some suggestions to make it more compatible; the only thing I had to do to make it compile and have intellisense work was to convert the ~@progress imports to relative paths.

ht

[2022-10-13 07:03] molequetu commented on #24
I ended up using gulp to preprocess the kendo sass files. Replacing the tildle did not worked for me, as you have to replace not only your own imports but all imports that are included on kendo sass file sources on node_modules, and after updating the themes you will have to do the same thing to work(maybe)

[2022-10-14 01:17] icemanind opened #55 "Javascript files not automatically being recompiled on save"
### Installed product versions
- Visual Studio: 2022
- This extension: 1.14.8

### Description
When I save a javascript file, I have to manually right click on it and re-compile the file to reproduce the .es5.js and .es5.min.js files. Is there a setting to automatically do this whenever the Javascript file is saved?

[2022-10-19 17:17] failwyn commented on #55
Would it be possible to provide a small sample project that I can test this with to see what's going on?

[2022-11-03 02:15] icemanind commented on #55
[Sample.zip](https://github.com/failwyn/WebCompiler/files/9925243/Sample.zip)

I attached a minimal example. If you change the "site.js" file and save it, you will notice that the "site.es5.js" file does not update automatically. You have to manually right-click on "site.js" and click "re-compile file" in order to update the "site.es5.js" file.

[2022-11-03 14:25] WycoffJohn commented on #55
Im having the same issue with .scss. Had a power failure yesterday, VS has been crashing and WebCompiler was throwing errors. I reinstalled the extension and resetup files and config. Everything works fine manually but will not compile on save. Dont know if this is related to the PC power crash or not.

[2022-11-03 14:40] WycoffJohn commented on #55
FYI... I just uninstalled the extension and package, removed all project files (.config and .scss) fully shut down all instances of VS 2022. Reinstalled everything making sure VS was fully loaded/unloaded between steps, added files back and compile on save is not working again. However, upon save the css file updated then I immediately got a BSOD. I realize I have gotten a couple of these since in

[2022-11-03 16:35] failwyn commented on #55
@WycoffJohn Would you be able to check/post the Error Code for the BSOD? I use the extension to compile my SCSS and have never had an issue with compiling on save and have never seen a BSOD. Would it be possible to post a small sample project demonstrating the issue so that I can try to replicate and debug it on my machine?

[2022-11-03 16:38] failwyn commented on #55
@icemanind Thanks for the sample, I will do my best to look into this over the weekend.

[2022-11-07 13:51] BalazsLaszloDyntell opened #56 ":has(...) selector not minifying correctly"
### Installed product versions
- Visual Studio: Microsoft Visual Studio Community 2022 (64-bit) - Current Version 17.1.1
- This extension: 1.14.8

### Description
After the :has(...) selector in the minified css there is missing a space character
SCSS input:
[code]
Minified output:
`.container:has(> div[controller=Inventory][view=Edit])div#items .dx-selection{background-color:rgba(53,128,183,.1)!i

[2022-11-07 18:12] failwyn commented on #5
Sorry for the long delay on this, crunch season snuck up on me; Does anyone know how the ContentTypeAttribute works? How does it associate the type to the file opened in the editor, and why doesn't "javascript" map to *.js files?

[2022-11-10 11:30] nukithelegend commented on #37
https://github.com/madskristensen/WebCompiler/issues/295, https://github.com/madskristensen/WebCompiler/issues/260, and many others indicate that there is no support for WebCompiler on Mac and probably Linux machines.

The WebCompiler version used here is not maintained anymore, https://github.com/madskristensen/WebCompiler/issues/468, and they recommend looking at https://github.com/excubo-ag/Web

[2022-11-23 11:32] fspezi opened #57 "SCSS compiler do not exclude CSS style Comments"
### Installed product versions
- Visual Studio: Microsoft Visual Studio Community 2022 (64 bit)
- This extension: 1.14.8

### Description
The SCSS compiler do not exclude Comments: it fire error about issue inside commented code.

### Steps to recreate

This code fire the error in compilation:

[code]

### Current behavior
This is the LOG of WebCompiler

[code]

### Expected behavior

I expect tha

[2022-11-28 17:27] failwyn commented on #57
I'll take a look and see if Mads had any support for multiline comments, but in the mean time, if you comment each line with //, it should work as expected.

[2022-11-28 22:41] fspezi commented on #57
Unfortunately no.
The issue fires with multiline comments and single line comment.
You can see that I tested this: the row starts with "//".

The strange is that seem like there is something with the `@include` statement, or using of variable, or other in the row....

[2022-11-29 12:38] jbaldwinson opened #58 "JSX Optional Chaining results in Unexpected Token error on compilation"
### Installed product versions
- Visual Studio: 17.4.1
- This extension: 1.14.8

### Description
Added a null check chaining operator into a JSX file, and can no longer compile into JS. I think this is due to the version of Babel being targeted.

### Steps to recreate
1. Have a JSX file
2. Add a null chaining operator
3. try to compile the jsx file
4. Get the error

[2022-11-29 14:22] failwyn commented on #57
I verified that multi-line comments are not supported here, but I added your code to my scss file with single line comments, and it compiles as expected; is there any way you can get me a sample project that reproduces the issue so that I can debug it?

`        //@each $bp, $bpCfg in $edge-navbar-footer--bp {
        //   @include media-breakpoint-up($bp) {
        //       @if (map.get($bpCfg, "

[2022-11-29 14:35] failwyn commented on #57
After further review, I'm going to close this issue as it is working as specified in the SASS documentation. Multiline comments are compiled into the css and string interpolation is allowed in multiline comments; single line comments are not compiled in the css.

https://sass-lang.com/documentation/syntax/comments

[2022-11-29 14:40] failwyn commented on #58
I can take another look into upgrading Babel, but last time I tried, it caused other issues and I ended up having to revert back to the old version.

https://github.com/failwyn/WebCompiler/issues/15

[2022-11-29 14:56] fspezi commented on #57
Thanks @failwyn.

Can you explain me why the `// *  ` (inside multi-line comment) is not a valid "single-line" comment?
Is it normal SASS behavior?

Thanks

[2022-11-29 15:12] failwyn commented on #57
@fspezi  Single-line comments inside of a multi-line comment is considered to be part of the multi-line comment.

[2022-11-29 15:37] jbaldwinson commented on #58
Yeah, I saw that commit and rollback. Happy to help in anyway I can.

[2022-11-30 10:25] alesmasiar commented on #56
I've also stumbled upon this.

After some research I found this is a bug in a package this project is using for minification.

It's using NUglify 1.5.12, which is a version from 2018. I've tried upgrading the package to the latest version (1.20.3), built and installed the WebCompiler from this repo and it seems to have fixed the issue.

Seems to be quite an easy fix without any noticeable breaking

[2022-11-30 15:55] cryo75 opened #59 "Build error when upgrading to 1.14.9"
### Installed product versions
- Visual Studio: 2022 Community
- This extension: 1.14.9

### Description
Upgraded from 1.14.8 to 1.14.9 (the Nuget package and the Extension) and I get the error shown in the image when building the project.

### Current behavior
Error when building the project.

### Expected behavior
No build error should occur.

![image](https://user-images.githubusercontent.com/3

[2022-11-30 16:43] failwyn commented on #59
@cryo75 Thanks for the heads up, toggle CompileOnBuild on and off and it should pull the updated nuget package.

For some reason, when building the nuget package Visual Studio is creating a net48 folder with the exe and a net4.8 folder with the dlls, I have to manually move the exe to the net4.8 folder after creating the nuget package... If anyone has any idea why this is happening, it would great

[2022-11-30 17:04] cryo75 commented on #59
Thanks for the quick reply. No need for the above workaround with the latest fix (1.14.9.1)

[2022-11-30 17:04] #59 closed

[2022-11-30 17:09] #5 closed

[2022-11-30 17:09] #56 closed

[2022-11-30 17:09] #55 closed

[2022-11-30 17:13] cryo75 opened #60 "Exception when running the tasks"
### Installed product versions
- Visual Studio: 2022 Community
- This extension: 1.14.9.1

### Description
The exception below is thrown when manually running the build task.

![image](https://user-images.githubusercontent.com/3060986/204863332-cc29cf61-fed6-4cd8-ada6-202f4d25430d.png)

[2022-11-30 20:23] failwyn commented on #60
How are you manually running the build task?

[2022-11-30 20:24] cryo75 commented on #60
From the Task Runner.

[2022-11-30 20:37] failwyn commented on #60
I’ll have to look into that; I’ve never used task runner; is there a config file you can send or a quick step by step to run it?

[2022-11-30 20:47] cryo75 commented on #60
This is the config file I use:

[code]

And the defaults file:

[code]